// Here you can add other styles
.dt{
  width: 360px !important;
  height: 400px;
  padding: 10px;
  background-color: #EBEDEF;
  border: transparent;
  border-radius: 0.375rem;
}
.data{
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.card:hover{
 background-color: #FFFFFF;
 box-shadow: 10px 10px 10px gray;
}
.dt:hover{
 background-color: #FFFFFF;
 box-shadow: 10px 5px 5px gray;
}
//#EBEDEF

.card-img{
  width: 328px;
  height: 248px;
  margin-left: 6px;
  margin-top: 6px;
  object-fit: cover;
  border-radius: 0.375rem;

}
.card:hover{
  cursor: pointer;
}
.dt{
  width: 225px;
}
